.navbar {
  font-size: 1.5em;
  padding-inline-start: 0;
  display: inline;
  background-color: white;
}

.logo {
  font-size: 2em;
  margin-left: 20px;
}

.navlist {
  margin-left: 20px;
  border: 3px solid white;
  border-radius: 16px;
  max-width: max-content;
  padding: 10px;
}

.navlist a:hover {
  color: red;
}

.navlist a:active {
  color: yellow;
}

/* delineations */
.navlist span {
  margin-left: 10px;
  margin-right: 10px;
  user-select: none;
}
