:root {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: black;
  color: white;
}

.logo {
  display: inline;
}

.nav-list {
  padding-inline-start: 0;
  display: inline;
}

#contact-form input {
  display: block;
  width: 200px;
  margin-top: 5px;
  margin-bottom: 5px;
}

#contact-form textarea {
  width: 300px;
  height: 100px;
}

#contact-form input[type="submit"] {
  text-align: left;
}

.blog {
  max-width: 40%;
  border: 2px solid white;
  margin-bottom: 15px;
}

.blog p {
  margin: 0 auto;
  margin-left: 5px;
}

.blog h1 {
  margin-bottom: 0px;
  margin-left: 5px;
}

.blog img {
  width: 25%;
  margin-top: 10px;
  margin-bottom: 30px;
}

.blog-image {
  width: 25%;
}
